In [ ]:
import pandas as pd

In [ ]:
# Load the CSV data into a DataFrame
df = pd.read_csv("/Users/nuzhatnazmulnishi/Desktop/Winter 2024/MATH 509/Project/Try/News_Final.csv", header=0)

# Display the first few rows of the DataFrame to verify it's loaded correctly
print(df.head())
#

    IDLink                                              Title  \
0  99248.0   Obama Lays Wreath at Arlington National Cemetery
1  10423.0        A Look at the Health of the Chinese Economy
2  18828.0   Nouriel Roubini: Global Economy Not Back to 2008
3  27788.0                          Finland GDP Expands In Q4
4  27789.0  Tourism, govt spending buoys Thai economy in J...

                                            Headline  \
0  Obama Lays Wreath at Arlington National Cemete...
1  Tim Haywood, investment director business-unit...
2  Nouriel Roubini, NYU professor and chairman at...
3  Finland's economy expanded marginally in the t...
4  Tourism and public spending continued to boost...

                                     Source    Topic          PublishDate  \
0                                 USA TODAY    obama  2002-04-02 00:00:00
1                                 Bloomberg  economy  2008-09-20 00:00:00
2                                 Bloomberg  economy  2012-01-28 00:00:00
3                                  RTT News  economy  2015-03-01 00:06:00
4  The Nation - Thailand&#39;s English news  economy  2015-03-01 00:11:00

   SentimentTitle  SentimentHeadline  Facebook  GooglePlus  LinkedIn
0        0.000000          -0.053300        -1          -1        -1
1        0.208333          -0.156386        -1          -1        -1
2       -0.425210           0.139754        -1          -1        -1
3        0.000000           0.026064        -1          -1        -1
4        0.000000           0.141084        -1          -1        -1

In [ ]:
#Handel missing data
# Check for missing values in each column
missing_data = df.isnull().sum()

# Print the number of missing values in each column
print(missing_data[missing_data > 0])

#clean data
df = df.dropna()
df.shape

Headline     15
Source      279
dtype: int64

(92945, 11)

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import pandas as pd

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#Preprocess the Text Data
def preprocess_text(text):
    # Lowercasing
    text = text.lower()

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Tokenize
    tokens = word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]

    # Lemmatize
    lemmatizer = WordNetLemmatizer()
    lemmatized_text = [lemmatizer.lemmatize(token) for token in filtered_tokens]

    # Stemmer
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(token) for token in lemmatized_text]

    # Re-join tokens into a string
    return ' '.join(stemmed_words)

In [ ]:

# Apply the preprocessing function to each headline
df['Processed_Headline'] = df['Headline'].apply(preprocess_text)

# Display the processed headlines
print(df[['Headline', 'Processed_Headline']])

                                                Headline  \
0      Obama Lays Wreath at Arlington National Cemete...
1      Tim Haywood, investment director business-unit...
2      Nouriel Roubini, NYU professor and chairman at...
3      Finland's economy expanded marginally in the t...
4      Tourism and public spending continued to boost...
...                                                  ...
93234  The June employment report is viewed as a cruc...
93235  In addition, establish stimulating economic po...
93236  The Palestinian government spends nearly $140 ...
93237  Palestine Youth Orchestra prepares for first U...
93238  Goldstein, the proprietor of the TG Travel Gro...

                                      Processed_Headline
0      obama lay wreath arlington national cemetery p...
1      tim haywood investment director businessunit h...
2      nouriel roubini nyu professor chairman roubini...
3      finland economy expanded marginally three mont...
4      tourism public spending continued boost econom...
...                                                  ...
93234  june employment report viewed crucial gauge he...
93235  addition establish stimulating economic policy...
93236  palestinian government spends nearly 140 milli...
93237  palestine youth orchestra prepares first uk to...
93238  goldstein proprietor tg travel group llc custo...

[92945 rows x 2 columns]

### Document-Term Matrix (DTM): Transform the preprocessed headlines into a DTM, which quantifies the headlines by the occurrence of words.

In [ ]:

import pandas as pd
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nuzhatnazmulnishi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
#
dtm = vectorizer.fit_transform(df['Processed_Headline'])


#dtm_df = pd.DataFrame(dtm.toarray(), columns=vectorizer.get_feature_names_out())
dtm_df = pd.DataFrame(dtm.toarray(), columns=vectorizer.get_feature_names())

dtm_df

,00,000,0000,0000001,000518,000s,001,0013,001459,001515,...,âshare,âtoday,äìhave,échappé,école,était,été,événements,être,ððð
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92942,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Filter out only English Headline

In [ ]:
#pip install langdetect

In [ ]:
#pip install --upgrade langdetect

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from langdetect import detect_langs
from langdetect import detect_langs, LangDetectException


dtm_df = vectorizer.fit_transform(df['Processed_Headline'].astype(str))

# Detecting the language of each headline
def detect_language_safe(text):
    try:
        return detect_langs(text)
    except LangDetectException:
        return ['unknown']

sample_headlines = df['Processed_Headline'].astype(str)
detected_languages = sample_headlines.apply(lambda x: detect_language_safe(x))
detected_languages

0                                [en:0.9999949971115396]
1                                [en:0.9999941263699559]
2                                [en:0.9999975560005105]
3                                [en:0.9999969045090447]
4                                [en:0.9999952937404768]
                              ...
93234                            [en:0.9999970702811254]
93235    [en:0.8571417190298691, fr:0.14285793912694336]
93236                            [en:0.9999964896795721]
93237     [en:0.7142843021535932, fr:0.2857155069527468]
93238                            [en:0.9999961059889573]
Name: Processed_Headline, Length: 92945, dtype: object

In [ ]:
#detected_languages.head()

In [ ]:
def detect_language(text):
    try:
        languages = detect_langs(text)
        return languages[0].lang
    except LangDetectException:
        return None

# Detect language in batches
batch_size = 1000
languages = []

# Apply the `detect_language` function to each headline in the batch
#for i in range(0, df.shape[0], batch_size):
 #   batch = df['Processed_Headline'][i:i+batch_size].astype(str)
  #  batch_languages = batch.apply(lambda x: detect_language(x))
   # languages.extend(batch_languages)


for i in range(0, df.shape[0], batch_size):
    batch = df['Processed_Headline'][i:i+batch_size].astype(str)
    batch_languages = batch.apply(detect_language)
    languages.extend(batch_languages)

# Adding detected languages as a new column to the DataFrame
df['Language'] = languages

# Filtering out French headlines
#df_filtered = df[df['Language'] != 'fr']
# Filtering out non-English headlines
df_filtered = df[df['Language'] == 'en']


print(f"Original number of headlines: {df.shape[0]}")
print(f"Number of headlines after removing French: {df_filtered.shape[0]}")

Original number of headlines: 92945
Number of headlines after removing French: 90401

In [ ]:
df_filtered

In [ ]:
# Save the filtered DataFrame to a CSV file
df_filtered.to_csv('filtered_headlines.csv', index=False)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
#
dtm = vectorizer.fit_transform(df_filtered['Processed_Headline'])


#dtm_df = pd.DataFrame(dtm.toarray(), columns=vectorizer.get_feature_names_out())
dtm_df = pd.DataFrame(dtm.toarray(), columns=vectorizer.get_feature_names())

dtm_df

,00,000,0000,0000001,000518,000s,001,0013,001459,001515,...,zynga,zyoud,ángel,â37,âgood,âit,âshare,âtoday,äìhave,ððð
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from scipy.sparse.linalg import svds
import numpy as np

# Ensure the DTM is of a floating-point type
dtm_float = dtm.astype(float)

# Perform SVD on the floating-point DTM
U, Sigma, VT = svds(dtm_float, k=min(dtm_float.shape)-1)

# The singular values in Sigma are squared to get the eigenvalues
eigenvalues = np.square(Sigma)

eigenvalues